.sidenav {
  max-width: 100vw;

  &-container {
    height: calc(100% - 64px);

    @media (max-width: 599px) {
      height: calc(100% - 56px);
    }
  }
}

.mat-toolbar.mat-primary {
  left: 0;
  position: sticky;
  z-index: 1;
}
