<mat-sidenav-container
  autosize
  class="sidenav-container"
>
  <mat-sidenav
    #drawer
    [mode]="'side'"
    class="sidenav"
    opened="true"
  >
    <ng-container *ngTemplateOutlet="toolBar"></ng-container>
    <pre>{{ menuService.mainMenuListBS$ | async | json }}</pre>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngTemplateOutlet="toolBar"></ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #toolBar>
  <mat-toolbar color="primary">
    <button
      (click)="drawer.toggle()"
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    {{ appTitle }}
    <app-flex-spacer></app-flex-spacer>
    123
  </mat-toolbar>
</ng-template>
