<mat-form-field class="w-100">
  <span matPrefix>&nbsp;</span>
  <mat-icon matPrefix>search</mat-icon>
  <span matPrefix>&nbsp;</span>
  <!-- todo вынести в localizationService -->
  <mat-label>Поиск</mat-label>
  <input
    [formControl]="searchStringC"
    [matAutocomplete]="matAutocomplete"
    matInput
    type="search"
  >
  <mat-autocomplete
    #matAutocomplete="matAutocomplete"
    autoActiveFirstOption
    panelWidth="auto"
  >
    <ng-container
      *ngFor="let route of routeListExtendedFlatBS$ | async"
    >
      <mat-option
        (onSelectionChange)="selectOption($event, route)"
        *ngIf="route.matchesSearchRegExpBS$ | async"
        [value]="route.text"
      >
        <mat-icon *ngIf="route.imageUrl">home</mat-icon>
        {{route.text}}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>

<div class="route-list-container">
  <app-route-list
    [routeList]="routeListExtendedBS$ | async"
  ></app-route-list>
</div>
